<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dmy.kafkastorm.dao.DataMapper" >
  <resultMap id="BaseResultMap" type="com.example.dmy.kafkastorm.domain.Game">
    <result column=" game_group_id" property="id" jdbcType="INTEGER" />
    <result column="admin_id" property="userId" jdbcType="INTEGER" />
    <result column="game_time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="queryList" resultMap="BaseResultMap">
      select * from bwl_big_game_group
  </select>
</mapper>